<div class="contaner mt-3">
  <h1>Add Data</h1>
  <div class="row justify-content center mt-3">
    <div class="col-md-12">
      <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
        <div class="form-gruop">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            required
          />
        </div>
        <div class="form-gruop">
          <label for="price">Price</label>
          <input
            type="text"
            class="form-control"
            formControlName="price"
            required
          />
        </div>
        <div class="form-gruop">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            formControlName="description"
            required
          />
        </div>
        <div class="form-gruop">
          <Button
            class="btn btn-primary btn-block"
            type="submit"
            style="width: 100%; margin-top: 20px"
            >Add Book</Button
          >
        </div>
      </form>
    </div>
  </div>
</div>
